---
---

@charset "utf-8";

// Our variables
$base-font-family: "ff-basic-gothic-web-pro", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes

$font-size-medium: 20px;
$font-size-small:  $font-size-medium * 0.875;
$font-size-large: $font-size-medium * 2;

$base-font-weight: 400;
$base-line-height: 1.5;

// Spacers

$space-small:     14px;
$space-medium:     22px;
$space-large:    44px;


// Colours

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

// Colour aliases

// Width of the content area

$content-width:    1280px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "breakpoints",
    "base",
    "layout",
    "header",
    "index",
    "project",
    "blocks"
;
