---
---
@charset "utf-8";

// Our variables
$font-family-sans: "ff-basic-gothic-web-pro", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "mrs-eaves-xl-serif", "Georgia", serif;
$font-family-default: $font-family-sans	;

// Font sizes

$font-size-medium: 1rem;
$font-size-small:  $font-size-medium * 0.8;
$font-size-tiny:  $font-size-medium * 0.6;
$font-size-large: $font-size-medium * 1.8;

$base-font-weight: 300;


// This right here has to serve as the basis for everything
$vertical-unit: 1.5rem;

// Spacers

$space: $vertical-unit * 1.5;


// Maybe delete these fuckers
$space-small:  12px;
$space-large:  36px;


// Colours

$color-offblack:   black;
$color-grey:       #828282;
$color-grey-light: lighten($color-grey, 30%);
$color-grey-dark:  darken($color-grey, 25%);
$color-white:      #e0e5ea;


// Colour aliases

$color-key:        #F179C1;
$color-ink:        #371C32;
$color-ink-positive: white;
$color-ink-negative: #371C32;
$color-background: #DCC7DA;

// Width of the content area

$content-width: 1440px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "tools",
    "base",
    "layout",
    "modules",
    "header",
    "index",
    "project",
    "blocks"
;


