---
---
@charset "utf-8";

// Our variables
$font-family-sans: "ff-basic-gothic-web-pro", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "mrs-eaves-xl-serif", "Georgia", serif;
$font-family-default: $font-family-sans	;

// Font sizes

$font-size-medium: 17px;
$font-size-small:  $font-size-medium * 0.8;
$font-size-large: $font-size-medium * 2;

$base-font-weight: 400;
$base-line-height: 1.5;

// Spacers

$space-small:  12px;
$space-medium: 24px;
$space-large:  36px;


// Colours



// Colours gray scale

$color-offblack: black;
$color-grey:       #828282;
$color-grey-light: lighten($color-grey, 30%);
$color-grey-dark:  darken($color-grey, 25%);
$color-white: white;


// Colour aliases

$color-key:      #40e0d0;
$color-ink: $color-offblack;
$color-background: $color-white;

// Width of the content area

$content-width:    1440px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "breakpoints",
    "base",
    "layout",
    "header",
    "index",
    "project",
    "blocks"
;

// Debug styles

.hide, %hide {
	display: none;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.gradient, %gradient {

}