---
title: Intro
layout: default
order: 1
---
<small>The Pocket Sized Design Shop of</small>
<h1>Erik Collinder</h1>

<h2 class="section-heading">Selected Work</h2>
<div class="content-columns">
	
	
	<article class="column-left">
		{% assign foo = site.projects | where:"title", "Wine in Black" | first %}
		<img src="/uploads/wine-in-black/header-wineinblack.png" width="1280" height="600" alt="">
		<h3><a href="{{foo.url}}">{{ foo.title }}</a></h3>
		<p>{{ foo.description }}</p>
	</article>

	<article class="column-left">
		{% assign foo = site.projects | where:"title", "Vamos, The Event Guide" | first %}
		<img src="/uploads/vamos-header.png" width="1280" height="600" alt="">
		<h3><a href="{{foo.url}}">{{ foo.title }}</a></h3>
		<p>{{ foo.description }}</p>
	</article>
	

	<article class="column-left">
		{% assign foo = site.projects | where:"title", "Google Web Lab Installation" | first %}
		<img src="/upload	s/{{foo.slug}}/1280-web-lab.jpg" width="1280" height="600" alt="">
		<h3><a href="{{foo.url}}">{{ foo.title }}</a></h3>
		<p>{{ foo.description }}</p>
	</article>
	
	<article class="column-left">
		{% assign foo = site.projects | where:"title", "Mercedes-Benz Forgotten Roadtrip" | first %}
		<img src="/uploads/header-generic.jpg" width="1280" height="600" alt="">
		<h3><a href="{{foo.url}}">{{ foo.title }}</a></h3>
		<p>{{ foo.description }}</p>
	</article>

</div>

<hr>
<div class="content-columns">
	<div class="column-left">
		<h2>Clients you'll recognise</h2>

		<ul>
			{% for client in site.data.clients %}

			<li>{{ client.name}}</li>

			{% endfor %}
		</ul>
	</div>
	<div class="column-left">
		<h2>Clients close to my heart</h2>

		<ul>
			<li>Vamos</li>
			<li>B-Reel</li>
			<li>Wine in Black</li>
			<li>Evino</li>
			<li>Sean Williams</li>
		</ul>
	</div>
</div>

<hr>

<h2>Work friends that will vouch for me</h2>

<dl>
	{% for friend in site.data.friends %}
	
	<dt>{{ friend.name}}</dt>
	<dd>{{ friend.title}} at {{ friend.company }}</dd>

	{% endfor %}

</dl>

<hr>

<h2>Expericence</h2>
<p>TL;DR • </p>

<div class="column-left">

<dl>
	{% for milestone in site.data.origins %}
	
	<dt>{{ milestone.title}}</dt>
	<dd>{{ milestone.description }}</dd>

	{% endfor %}
</dl>

</div>