---
title: Intro
layout: default
order: 1
announcement: true
intro: | 
    Interaction Design, Art Direction, Illustration and Business. The business ingredient is essential to why you and I, dear client, could really hit it off. Design is a wonderful lucrative tool for any company when used right. I've spent a long time trying to work out exactly how.
    
    *While waiting for more detailed case studies, you can read about my experience here or check out these assorted visuals.*

myself: |
    Designer born in suburban Stockholm, working with people and companies to make their product work and look better. This takes place wherever you, the client, belong — or from my office in Kreuzberg, Berlin.

contact: |
    All email and every phone call is annoying apart from when it's from a client: *I love it* when clients call or write. I'm half-joking, please get in touch.
    You're not sure if you need a designer? Send me a brief email about your project or company and we'll figure it out.
    
    - collinder.erik@gmail.com
    - +49 157 92347590
    
now: | 
    <small>2017 April 8th</small>
    
    Writing case studies to make this site a little more useful. Talking to the right people about the right projects and collaborating with [Malte Schonvogel][1]. 

    [1]: http://erikandmalte.com/

    <small>2017 April 7th</small>
    
    Launched this interim portfolio site.

---

<section id="work" class="padding-global-section">
    <h2 class="section-title">Work</h2>
    <div class="writing-on-the-wall workworkwork"></div>
    {{ page.intro | markdownify }}
    <div class="assorted-visuals">
        <img src="/uploads/project-1.png" alt="">
        <img src="/uploads/project-2.png" alt="">
        <img src="/uploads/project-3.png" alt="">
        <img src="/uploads/project-1.png" alt="">
    </div>
</section>

<section id="now" class="padding-global-section">
    <h2 class="section-title">Currently</h2>
    <div id="myself" class="writing-on-the-wall nownownow"></div>
    {{ page.now | markdownify }}
</section>

<section id="myself" class="padding-global-section">
    <h2 class="section-title">Myself</h2>
    <div class="writing-on-the-wall mememe"></div>
    <div class="portrait" src="" alt="Portrait of Erik"></div>
    {{ page.myself | markdownify }}
</section>

<section id="contact" class="padding-global-section">
    <h2 class="section-title">Contact</h2>
    <div class="writing-on-the-wall nownownow"></div>
    {{ page.contact | markdownify }}
</section>



<!-- Everything below here is hidden for now  -->

<!-- Written content -->

<div class="layout-row hide">
    <div class="layout-column layout-tile">
        <h2>Big Names</h2>

        <ul>

            {% assign bragable = site.data.clients | where:'brag', true %}

            {% for client in bragable %}

            <li>{{ client.name }}</li>
            <img src="/assets/logos/{{ client.logo }}" alt="">

            {% endfor %}
        </ul>
    </div>

    <div class="layout-column layout-tile">
        <h2>Clients close to my heart</h2>

        <ul>
            <li>Vamos</li>
            <li>B-Reel</li>
            <li>Wine in Black</li>
            <li>Evino</li>
            <li>Sean Williams</li>
        </ul>
    </div>
</div>

<!-- Work friends -->
<div class="layout-row hide">
    <div class="layout-column">
        <h2>Work friends that will vouch for me</h2>

        <dl>
            {% for friend in site.data.friends %}

            <dt>{{ friend.name}}</dt>
            <dd>{{ friend.title}} at {{ friend.company }}</dd>

            {% endfor %}

        </dl>
    </div>
</div>
