<header class="site-header">

  <div class="layout-row">

    <div class="layout-column">
    
    <p class="site-subtitle">The Pocket Sized Design Shop of</p>
    <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>

    <nav class="site-nav" style="display: none">
  
    {% assign sorted_nav = site.pages | sort: 'order' %}

      <ul>
        {% for my_page in sorted_nav | sort: mypage.order %}
        {% if my_page.title %}
        <li>
          <a class="page-link {% if my_page.url == page.url %}active{% endif %}"  href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    
  </nav>

  
  
  </div>

</div>

</header>


