.project-header, .block-item {
	// Layout debug gradient
	padding-top: $space-large;
	padding-bottom: $space-large;
}

.block-item img {
	margin: 0 auto;
}

.full.layout-row {
	padding: 0;
	background: black;
}

.break.layout-row {
	text-align: center;
	background: $color-grey-light;

	h2 {
		font-size: 56px;
	}
}