.project-header, .block-item {
	// Layout debug gradient
	padding-top: $space-large;
	padding-bottom: $space-large;
    background: linear-gradient(to bottom, #fcfcfc 0%,#f0f0f0 100%);
}

.block-item img {
	margin: 0 auto;
}