/**
 * Site header
 */

.site-header {
    
}
.site-logo {
    float: left;
    position: relative;
}

.site-title, .site-subtitle {
    color: $color-ink;
}

.site-subtitle {
    margin-bottom: $space-small/2;
    font-size: $font-size-medium;
}

.site-title {
    font-size: $font-size-large;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0;
}

.site-nav {
    
    line-height: 36px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $color-ink;
        line-height: $vertical-unit;

        &.active {
            color: red;
        }
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 20px 0 0;
        
        @include largerthan($medium-up){
            margin: 0 0 0 20px;
        }
    }
    
    @include largerthan($medium-up){
        float: right;
    }
}