/* Top, top level
====================================== */

html { background-color: $color-background; }
body {
   // max-width: $content-width;
    margin: 0 auto 0 auto;
}

/* Rows and Columns
====================================== */

// The layout row must always reach edge to edge

.layout-row {
    margin-right: auto;
    margin-left: auto;
    
    padding-top:    $space-small;
    padding-bottom: $space-small;
    
    padding-right:  $space-small/2;
    padding-left:   $space-small/2;

    @extend %clearfix;

    @include breakpoint($medium-up) {
        padding-top:    $space-medium;  
        padding-bottom: $space-medium;  

        padding-right:  $space-medium/2;
        padding-left:   $space-medium/2;  
    }

    @include breakpoint($large-up) {
        padding-top: $space-large;
        padding-bottom: $space-large;

        padding-right: calc(50% - 600px);
        padding-left: calc(50%  - 600px);

    }
}

// Everything must sit inside a layout column, otherwise the gutters won't line up

.layout-column {
    //float: left;
    position: relative;
    padding-left: $space-small/2;
    padding-right: $space-small/2;

    @include breakpoint($medium-up) {
        padding-right: $space-medium/2;
        padding-left: $space-medium/2;  
    }

    @include breakpoint($large-up) {
        padding-right: $space-large/2;
        padding-left: $space-large/2;  
    }
}

// Classes for controlling column widths, even at different sizes

.layout-tile {
    @include breakpoint($medium-up){
        width: 50%;
        float: left;
    }
}

.layout-right {
    @include breakpoint($medium-up) {
        width: 65%;
        float: right;
    }
}

.layout-left {
    @include breakpoint($medium-up) {
        width: 65%;
        float: left;
    }
}

.layout-aside {
    @include breakpoint($medium-up) {
        width: 30%;
        float: left;
    }
}

/**
 * Non-jumping images while loading
 */

.img-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


img.responsive-image {
    width: 100%;
}

/**
 * Link areas
 */


.link-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}





/**
 * Page content
 */
.page-content {
    padding: $space-medium 0;
}

.project-list, .post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $space-medium;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $color-grey;
}

.post-link {
    display: block;
    font-size: $font-size-medium;
    color: red;
    &:visited {
        color: red;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $space-medium;
}

.post-content {
    margin-bottom: $space-medium;

    h2 {
        font-size: $font-size-medium;

        @include breakpoint($medium-up) {
            font-size: $font-size-medium;
        }
    }

    h3 {
        font-size: $font-size-medium;

        @include breakpoint($medium-up) {
            font-size: $font-size-medium;
        }
    }

    h4 {
        font-size: $font-size-medium;

        @include breakpoint($medium-up) {
            font-size: $font-size-medium;
        }
    }
}
