/* Top, top level
====================================== */

html { background-color: $color-background; }
body {
   // max-width: $content-width;
    margin: 0 auto 0 auto;
}

/* Rows and Columns
====================================== */

// The layout row must always reach edge to edge

.layout-row {
    margin-right: auto;
    margin-left: auto;
    
    padding-top:    $space-small;
    padding-bottom: $space-small;
    
    padding-right:  $space-small/2;
    padding-left:   $space-small/2;

    @extend %clearfix;

    @include breakpoint($medium-up) {
        padding-top:    $space-medium;  
        padding-bottom: $space-medium;  

        padding-right:  $space-medium/2;
        padding-left:   $space-medium/2;  
    }

    @include breakpoint($large-up) {
        padding-top: $space-large;
        padding-bottom: $space-large;

        padding-right: calc(50% - 600px);
        padding-left: calc(50%  - 600px);

    }
}

// Everything must sit inside a layout column, otherwise the gutters won't line up

.layout-column {
    //float: left;
    position: relative;
    padding-left: $space-small/2;
    padding-right: $space-small/2;

    @include breakpoint($medium-up) {
        padding-right: $space-medium/2;
        padding-left: $space-medium/2;  
    }

    @include breakpoint($large-up) {
        padding-right: $space-large/2;
        padding-left: $space-large/2;  
    }
}

// Classes for controlling column widths, even at different sizes

.layout-tile {
    @include breakpoint($small-up){
        width: 50%;
        float: left;
    }
}

.layout-right {
    @include breakpoint($medium-up) {
        width: 75%;
        float: right;
    }
}

.layout-left {
    @include breakpoint($medium-up) {
        width: 75%;
        float: left;
    }
}

.layout-aside {
    @include breakpoint($medium-up) {
        width: 25%;
        float: left;
    }
}


/* Padding Classes
====================================== */

.padding-global {
    padding-left: $space-small/2;
    padding-right: $space-small/2;

    @include breakpoint($medium-up) {
        padding-right: $space-medium/2;
        padding-left: $space-medium/2;  
    }

    @include breakpoint($large-up) {
        padding-right: $space-large/2;
        padding-left: $space-large/2;  
    }
}


%pin {
    position: absolute;
}
.pin-top-left {
    @extend %pin;
    top: 0;
    left: 0;
}
.pin-top-right {
    @extend %pin;
}
.pin-bottom-left {
    @extend %pin;
    padding-left: $space-small;
    padding-bottom: $space-small;
    bottom: 0;
    left: 0;

}
.pin-bottom-right {
    @extend %pin;
}

/* Misc Tools
====================================== */

/**
 * Non-jumping images while loading
 */

.img-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


img.responsive-image {
    width: 100%;
}

/**
 * Link areas
 */


.link-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
