/* Dark or bright theme
======================================*/ 

.dark {
    color: $color-ink-positive;
    background-image: linear-gradient(-180deg, #351B31 0%, #42233D 100%);
}

.bright {
    color: $color-ink-negative;
    background: white;
}



/* Header and navigation
======================================*/ 

.site-header {
    background: $color-background;   
}
.site-logo {
}

.site-title, .site-subtitle {
    color: $color-ink;
}

.site-subtitle {
    margin-bottom: $space-small/2;
    font-size: $font-size-medium;
}

.site-title {
    font-size: $font-size-large;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0;
}

.site-nav {
    @extend .padding-global-vertical;

    .nav-link {
        padding: $space/4 0;
    }

    li {
        display: inline-block;
        list-style: none;
        margin-right: $space;
        &:before {display: none;}
    }
    .active {
        border-bottom: 2px $color-key solid;
    }
}

/* Temporary Start Page
======================================*/ 

#announcement {
    @extend .padding-global-uniform;
    @extend .bright;
    border: 1px $color-ink-positive solid;
    // background: #1F2DA2;

    .date {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: $font-size-tiny;
        opacity: 0.8;
    }
}
.section-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $font-size-medium * 1.2;

    font-weight: 600;
}


.writing-on-the-wall {
    @extend .hide;
    //@extend .outline;
    height: 128px;
    background-repeat: repeat-x;
    background-position: center center;
    overflow-x: hide;
    
    // Make it take up the entire screen
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &.mememe          {background-image: url('/assets/mememe.svg');}
    &.workworkwork    {background-image: url('/assets/workworkwork.svg');}
    &.nownownow       {background-image: url('/assets/nownownow.svg');}
    &.hellohellohello {background-image: url('/assets/hellohellohello.svg');}
}

/* Section Specific Modifications
======================================*/ 

#work {

}

#myself {
    @extend .dark;
}

#contact
#myself
#now

/* Myself
======================================*/ 

#myself .portrait {
    //border-radius: 50%;
    min-width: 120px;
    min-height: 120px;
    max-width: 172px;
    max-height: 172px;
    position: absolute;
    width: 40%;
    height: 40%;
    background-size: 98%;
    background-position: center center;
    background-repeat: no-repeat;
    
    background-color: red;
    // Resolution Tweaks
    background-image: url('/uploads/portrait.png') ;
    @include resolution {background-image: url('/uploads/portrait@2x.png');}
    
    // Layout Tweaks
    top: -$space/2;
    right: $space;
    @include largerthan($medium) { right: 25%; }
}

/* Experince
======================================*/ 

#experience {
    
    dt {
        
    }

    @include largerthan($large){
        dt, img, span {
            margin-top: 0;
            clear: left;
            float: left; 
            width: calc(35% - 24px);
        } 
        dd {
            //margin-bottom: $space;
            margin-left: 35%;
        }

        img {
            
        }
    }
}

.milestone {
    margin-top: $space;
}


.site-footer {
	@extend %hide;
}

/**
 * Page content
 */
.page-content {
    padding: $vertical-unit 0;
}

.project-list, .post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $vertical-unit;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $color-grey;
}

.post-link {
    display: block;
    font-size: $font-size-medium;
    color: red;
    &:visited {
        color: red;
    }
}

/* Project List
======================================*/ 

.project-tiles {
    overflow: hidden;
}

@include smallerthan($medium) {
    .project-tiles, .project-item.layout-column {
        padding: 0;
    }
}

// Image treatment 

.project-tiles .project-image {
    margin: 0 auto;
    width: 100%;
}

.project-link, .project-link:visited {
    color: $color-ink;
}

.project-item {
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;

    .img-container {
        // In addition to global styles found in _layout.scss
        background: $color-grey-light;
        padding-bottom: 75%; 
        
        
        @include largerthan($medium){
            // Shadow, 1px
            &:after {
                content: " ";
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                display: block;
                border: 1px solid rgba(0,0,0,0.07);
                //box-shadow:inset 0 0 1px rgba(0,0,0,0.1);
            }

            // Rounded Corners
            border-radius: 3px;

        }
    }
}


// Trying to make these titles a global

.project-title { 
    margin-bottom: 0;
    font-size: $font-size-medium;
}
.project-subtitle {
    font-weight: 300; color: $color-ink;
    font-size: $font-size-small;
}

.project-title, 
.project-subtitle {
    color: white;
    line-height: 24px;
}

.project-meta-lockup {
//  position: absolute;
    // bottom: $vertical-unit;
    // left: $vertical-unit;
}

.project-client-logotype {
    height: $vertical-unit*1.5;  
    @extend %vertical-rythm;

    @include largerthan($small-up) {
        height: $vertical-unit * 2;
    }
    
}

// Layout breakpoint where we switch to 1:3 layout

@include largerthan($medium){

    .project-meta {
        //padding-top: $vertical-unit;
        padding-right: $vertical-unit;
        margin-right: $vertical-unit;
        overflow: auto;
        position: relative;
        
        // Border on top
        .project-title:before {
            padding-top: $vertical-unit;
        }
        .project-title:before {
            content: " ";
            display: block;
            border-top: 1px solid $color-grey-light;
        }
    }
}

/* Project Page */ 

.block-item img {
    margin: 0 auto;
}

dt {
    font-weight: bold;
}

.note {
    padding-top: $space-large;
    padding-bottom: $space-large;
}

.note.under-construction {
    background: #F4E66D;
}


/* Next Previous */ 

.next-prev {
    padding-top: $space-large*2;
    padding-bottom: $space-large*2;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $vertical-unit;
}

.post-content {
    margin-bottom: $vertical-unit;

    h2 {
        font-size: $font-size-medium;

        @include largerthan($medium) {
            font-size: $font-size-medium;
        }
    }

    h3 {
        font-size: $font-size-medium;

        @include largerthan($medium) {
            font-size: $font-size-medium;
        }
    }

    h4 {
        font-size: $font-size-medium;

        @include largerthan($medium) {
            font-size: $font-size-medium;
        }
    }
}

/* Fade in projects
-------------------------------------------------- */

@include largerthan($large) {
    @supports(animation-delay: 100ms){
        .fadein,
        .fadein-1,
        .fadein-2,
        .fadein-3,
        .fadein-4, {
            animation: fadein 0.6s forwards;
            opacity: 0; /* make things invisible upon start */
        }
    }  
}

@keyframes fadein {
    0% {
        opacity:0; 
        transform: translate(0, $vertical-unit/2);
    }
    100% {
        opacity:1;  
    }
    
}



.fadein:nth-child(1), .fadein-1 { -webkit-animation-delay: 80ms * 0; }
.fadein:nth-child(2), .fadein-2 { -webkit-animation-delay: 80ms * 1; }
.fadein:nth-child(3), .fadein-3 { -webkit-animation-delay: 80ms * 2; }
.fadein:nth-child(4), .fadein-4 { -webkit-animation-delay: 80ms * 3; }

// When arriving to a hashed section, flash in yellow

section:target {
    border: 12px yellow solid;
} 