/* Project List
======================================*/ 

.project-list {
	overflow: hidden;
}

// Image treatment 

.project-list img {
    margin: 0 auto;
    width: 100%;
}

.project-link, .project-link:visited {
	color: $color-ink;
}

.project-item {
	overflow: hidden;
	position: relative;
	margin-bottom: $space-medium;

	.img-container {
		// In addition to global styles found in _layout.scss
		background: $color-grey-light;
		padding-bottom: 75%; 

		// Larger screens have wider format images, 16:9 in this case
		@include breakpoint($small-up){ padding-bottom: 75%; }
	
		// Push heading down a little
		margin-bottom: $space-small/2;
	}

}

// Trying to make these titles a global

.project-title { 
	margin-bottom: 0;
	font-size: $font-size-medium;

	@include smallerthan($medium-up) {
		position: absolute;
		top: $space-medium;
		left: $space-medium;
		color: white;
	}
}
.project-subtitle {
	font-weight: 300; color: $color-ink;
	font-size: $font-size-small;
}

.project-title, 
.project-subtitle {
	line-height: 24px;

	@include breakpoint($medium-up){
		font-size: $font-size-medium;
		line-height: 26px;
	}
}

.section-heading {
	//text-transform: uppercase;
	//letter-spacing: 0.1em;
	font-family: $font-family-serif;
	font-size: $font-size-large;
	border-bottom: 1px dashed #ccc;
	font-weight: 500;
}

// Layout breakpoint where we switch to 1:3 layout

@include breakpoint($medium-up){

	.project-meta {
		//padding-top: $space-medium;
		padding-right: $space-medium;
		margin-right: $space-medium;
		overflow: auto;
		position: relative;
		
		// Border on top
		.project-title:before {
			padding-top: $space-medium;
		}
		.project-title:before {
			content: " ";
			display: block;
			border-top: 1px solid $color-grey-light;
		}
	}
}

/* Project Page */ 

.block-item img {
    margin: 0 auto;
}

dt {
    font-weight: bold;
}

.note {
	padding-top: $space-large;
	padding-bottom: $space-large;
}

.note.under-construction {
	background: #F4E66D;
}


/* Next Previous */ 

.next-prev {
	padding-top: $space-large*2;
	padding-bottom: $space-large*2;
}