/* Project List */ 

.project-list img {
    margin: 0 auto;
    width: 100%;
}

.project-item {
	margin: $spacing-unit 0;
}

@include breakpoint($medium-up){
	.project-item {
		width: 50%;
		float: left;
	} 
}

/* Project Page */ 

.block-item img {
    margin: 0 auto;
}

dt {
    font-weight: bold;
}

dd {
	float: right;
}