---
layout: default
---

<article class="post">

    <header class="project-header">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>

    {% if page.roles %}
    
    <ul>
    
    {% for role in page.roles %}     
      <li>{{ role }}</li>
    {% endfor %}
    
    </ul>
    
    {% endif %}

    </dl>
    
    
    
    <p class="description">
      {{ page.description }}
    </p>

    {% if page.table %}
    
      <dl>
        {% for row in page.table %}     
            <dt>{{ row.key }}</dt>
            <dd>{{ row.value }}</dd>
        {% endfor %}
      </dl>

    {% endif %}
    
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
